<head>
  <script src="http://maps.google.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&language=ja"></script>
  <link rel="stylesheet" type="text/css" href="/css/show.css" />
</head>
<article class="rest-show">
    <span class="rest-name"><%= @rest[:name] %></span><br>
    <span><a href="<%= @rest[:url] %>">店舗紹介リンク(ぐるナビのページに飛ぶ)</a><br>
    <span>電話番号: <%= @rest[:tel] %></span><br>
    <span>営業時間: <%= @rest[:opentime] %></span><br>
    <% if @rest[:image_url][:shop_image1] %>
    <p>写真情報</p>
      <img src="<%= @rest[:image_url][:shop_image1] %>"></img><br>
    <% end %>
    <p>地図情報</p>
    <span><%= @rest[:address] %></span>
    <div id="map-canvas"></div>
</article>


<script type="text/javascript">
  var lat = <%= @rest[:latitude] %>;
  var lng = <%= @rest[:longitude] %>;
  var mapLatLng = new google.maps.LatLng(lat,lng) ;
  var mapOptions = {
        zoom : 15,          // 拡大倍率
        center : mapLatLng  // 緯度・経度
      };
      // マップオブジェクト作成
      var map = new google.maps.Map(
        document.getElementById("map-canvas"), // マップを表示する要素
        mapOptions         // マップオプション
      );
      //　マップにマーカーを表示する
      var marker = new google.maps.Marker({
        map : map,             // 対象の地図オブジェクト
        position : mapLatLng   // 緯度・経度
      });
</script>
